In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Load the data
data = pd.read_csv('datasets/data.csv', sep=';', index_col='Row')
data

,Dim_0,Dim_1=0,Dim_2=0,Dim_3=0,Dim_4=0,Dim_5=0,Dim_6=0,Dim_7=0,Dim_8=0,Dim_9=0,...,Dim_13=0,Dim_14=0,Dim_15=0,Dim_16,Dim_17,Dim_18,Dim_19,Dim_20,Unnamed: 22,Unnamed: 23
Row,,,,,,,,,,,,,,,,,,,,,
0,"0,750000",1,0,1,1,1,1,1,0,1,...,1,1,1,"0,001132","0,080780","0,197324","0,300926","0,225000",NaN,NaN
1,"0,239583",1,1,1,1,1,1,1,1,1,...,1,1,1,"0,000472","0,164345","0,235786","0,537037","0,165625",NaN,NaN
2,"0,479167",1,1,1,1,1,1,1,1,1,...,1,1,1,"0,003585","0,130919","0,167224","0,527778","0,118750",NaN,NaN
3,"0,656250",0,1,1,1,1,1,1,1,1,...,1,1,1,"0,001698","0,091922","0,125418","0,337963","0,129688",NaN,NaN
4,"0,229167",1,1,1,1,1,1,1,1,1,...,1,1,1,"0,000472","0,142061","0,229097","0,337963","0,235938",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,"0,604167",1,1,1,1,1,1,1,1,1,...,1,1,0,"0,004717","0,113092","0,128763","0,379630","0,121875",NaN,NaN
7196,"0,520833",1,1,1,1,1,1,1,1,1,...,1,1,1,"0,200000","0,030641","0,005017","0,333333","0,005469",NaN,NaN
7197,"0,520833",1,1,1,1,1,1,1,1,1,...,1,1,0,"0,001434","0,109192","0,147157","0,231481","0,206250",NaN,NaN
7198,"0,354167",0,1,1,1,1,1,1,1,1,...,1,1,1,"0,005283","0,109192","0,147157","0,333333","0,154688",NaN,NaN
7199,"0,750000",1,1,1,1,1,1,1,1,1,...,1,1,0,"0,001057","0,109192","0,132107","0,337963","0,137500",NaN,NaN